/* --- TEMA MINIMALISTA --- */

/* Fondo general */
.wy-nav-content {
    background: #ffffff;
}

/* Sidebar minimalista */
.wy-nav-side {
    background: #dcdcdc;
}

/* Buscador minimalista */
.wy-side-nav-search {
    background: rgb(0, 170, 255);
}

/* Links del menú */
.wy-menu-vertical a {
    color: #333;
}

.wy-menu-vertical a:hover {
    background: rgb(172, 172, 172);
    color: #000;
}

/* Página activa */
.wy-menu-vertical li.current > a {
    background: #333;
    color: white;
}



.wy-nav-content {
    max-width: 100%;
}

